
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:#fbfbf3 ;
    background-image: url('16.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-blend-mode: darken;
}

.main h1 {
    margin-left: 510px;
    color: #ff0303;
    text-shadow: 5px 5px 4px black;
    box-sizing: content-box;
    background: rgba(182, 232, 233, 0.6);
    margin-right: 500px;
    font-size: 30px;
    border-radius: 5px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 2px;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 460px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: rgba(30, 29, 29, 0.6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(2,5, 180,);
    height: 85%;
    margin-top: 40px;
    margin-left: -10em;
}

.login-box h3{
    margin:0 0 30px;
    color: #ffffff;
    text-align: center;
    text-shadow: 4px 3px 2px rgb(255, 0, 0);
}

.login-box .user-box{
    position: relative;
}

.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(85, 81, 81);
    margin-bottom: 30px;
    border: none;
    background: rgba(199, 184, 184, 0.7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    border-radius: 2px;
}

.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~  label{
    top: -29px;
    left: 0;
    color: #f9c66e;
    font-size: 12px;
    font-weight: bolder;
    font-size: 16px;
}

.user-box #smth label{
    padding-left: 100px;
}
.user-box #smth input {
    padding-left: 10px;
    font-size: 16px;
}

.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ff0000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: -6px;
    letter-spacing: 4px;
    margin-left: 10em;
    background-color: #ffffff;
}

.login-box a:hover{
    background: #ff0000;
    color: rgb(255, 251, 251);
    border-radius: 10px;
    box-shadow: 0 0 5px #ff0000,
                0 0 25px #ff0000,
                0 0 50px  #ff0000,
                0 0 100px  #ff0000;
}

.login-box a span{
    position: absolute;
    display: block;
}

.clmn option {
    border: none;
    background-color: #f1ce64;
    font-size: 15px;
}
.login-box a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#ff0000);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1{
    0% {
          left: -100%;
     }
     50%,100% {
         left: 100%;
     }
 }

.login-box a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ff0000);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2{
    0% {
          top: -100%;
     }
     50%,100% {
         top: 100%;
     }
 }

 .login-box a span:nth-child(3){
    bottom: 0;
    right:-100%;
    width:100%;
    height:2px;
    background: linear-gradient(270deg, transparent,#ff0000);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3{
    0% {
          right: -100%;
     }
     50%,100% {
         right: 100%;
     }
 }

 .login-box a span:nth-child(4){
    left: 0;
    bottom:-100%;
    width:2px;
    height:100%;
    background: linear-gradient(540deg, transparent, #ff0000);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4{
    0% {
          bottom: -100%;
     }
     50%,100% {
         bottom: 100%;
     }
 }

 
 @media (max-width: 700px) {
    body{   
      flex-direction: column;
      width: 100%;
    }
  }
